[user]
	name = Jenn Schiffer
	email = jenn@dotbiz.info
	username = jennschiffer
[core]
	excludesfile = /Users/jennmoneydollars/.gitignore_global
	editor = nano
[push]
	default = simple
[alias]
  pr  = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
  pr-clean = "!git for-each-ref refs/heads/pr/* --format='%(refname)' | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
  br = branch
  co = checkout
  undo = reset --hard
